{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block class %}
    home
{% endblock %}


{% block body %}
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Well done!</h4>
      <p>You have learnt a lot on your path to this stage. You no longer need help with coming up with workouts. With all that you have learned,
      you are now ready to come up with routines and even teach others.</p>
      <hr>
      <p class="mb-0">But for some reason if you are not confident or do not have the time, please use the change level feature
      to move back to the previous level or click on the logo to access the workouts for the advanced level. Also keep in mind that you can access previously done workouts using history.</p>
    </div>
{% endblock %}



