{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block class %}
    home
{% endblock %}

{% block body %}
    <div class="form-container">
        <h1 class="intro mb-4">Welcome to FitCode</h1>
        <p class="lead mb-4">Your personalized home workout companion. Ready to get moving?</p>
        
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text">FitCode helps you create custom workouts based on your fitness level and preferences. No equipment needed!</p>
            </div>
        </div>
        
        <a href="/time" class="btn btn-dark btn-lg">
            <i class="fas fa-play-circle mr-2"></i>Let's Start Working Out!
        </a>
    </div>
{% endblock %}