{% extends "layout.html" %}

{% block title %}
    Timer
{% endblock %}

{% block class %}
    stopwatch
{% endblock %}

{% block body %}
    <div class="form-container">
        <h2 class="mb-4">Workout Timer</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="thours">Hours</label>
                    <input autocomplete="off" class="form-control" min="0" id="thours" placeholder="Hours" type="number" value="0">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="tminutes">Minutes</label>
                    <input autocomplete="off" class="form-control" min="0" id="tminutes" placeholder="Minutes" type="number" value="0">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="tseconds">Seconds</label>
                    <input autocomplete="off" class="form-control" min="0" id="tseconds" placeholder="Seconds" type="number" value="0">
                </div>
            </div>
        </div>
        
        <div id="display_timer">00:00:00</div>
        
        <div class="button-group mt-4">
            <button class="btn btn-outline-success btn-lg" id="tstartStop">Start</button>
            <button class="btn btn-outline-dark btn-lg" id="treset">Reset</button>
        </div>
        
        <div class="mt-4">
            <a href="/workout" class="btn btn-dark">Back to Workout</a>
        </div>
    </div>
{% endblock %}